package-lock.json linguist-generated=true merge=ours
.github/workflows/*.lock.yml linguist-generated=true merge=ours
src/types/adoptiumApiTypes.ts linguist-generated=true merge=ours
src/types/marketplaceApiTypes.ts linguist-generated=true merge=ours
