[build]
  publish = ".next"
  command = "npm run build"

[[headers]]
  for = "/*"
  [headers.values]
    Strict-Transport-Security = '''
    max-age=63072000;
    includeSubDomains;
    preload'''

[[redirects]]
  from = "https://blog.adoptium.net/:locale/*"
  to = "https://adoptium.net/:locale/news/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://blog.adoptium.net/*"
  to = "https://adoptium.net/news/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/:locale/blog/*"
  to = "/:locale/news/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/blog/*"
  to = "/news/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://dash.adoptium.net"
  to = "https://adoptium.net/stats"
  status = 301
  force = true

[[redirects]]
  from = "https://dash.adoptium.net/download"
  to = "https://adoptium.net/stats/download"
  status = 301
  force = true

[[redirects]]
  from = "https://dash.adoptium.net/trends"
  to = "https://adoptium.net/stats/trends"
  status = 301
  force = true

[[redirects]]
  from = "https://dash.adoptium.net/*"
  to = "https://adoptium.net/stats"
  status = 301
  force = true

[[redirects]]
  from = "/marketplace-policy"
  to = "/docs/marketplace-policy"
  status = 301
  force = true

[[redirects]]
  from = "/qvs-policy"
  to = "/docs/qvs-policy"
  status = 301
  force = true

[[redirects]]
  from = "/:locale/support-us"
  to = "/:locale/join-us"
  status = 301
  force = true

[[redirects]]
  from = "/support-us"
  to = "/join-us"
  status = 301
  force = true
