@import 'https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import "tailwindcss";
@import "prism-themes/themes/prism-shades-of-purple.css";
@plugin "@tailwindcss/typography";

@layer utilities {
  .bg-temurin-hero {
    background-image: url('/images/backgrounds/temurin-hero-img.png');
  }
}

/* CSS Variables */
:root {
  --purple: #14003c;
  --pink: #ff1365;
  --blue: #0d002a;
  --grey: #c4bfce;
  --border-radius: 4px;
  --color-text: white;
  --color-primary: #7026b9;
  --color-code-bg: rgba(110, 118, 129, 40%);
  --color-code: white;
}

/* Global styles */
html {
  scroll-behavior: smooth;
}

/* Inline code blocks (not processed by Prism) */
:not(pre) > code {
  background: var(--color-code-bg);
  color: var(--color-code);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 6px;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 0.875em;
  white-space: nowrap;
}

code::before,
code::after,
tt::before,
tt::after {
  content: "\00a0";
  letter-spacing: -0.2em;
}

pre code::before,
pre code::after,
pre tt::before,
pre tt::after {
  content: none;
}

body {
  font-family: "Hanken Grotesk", Inter, sans-serif !important;
  background-color: var(--purple);
  color: var(--color-text);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.bg-purple {
  background-color: var(--purple);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-blue {
  background-color: var(--blue);
}

.text-pink {
  color: var(--pink);
}

.text-primary {
  color: var(--pink);
}

.text-grey {
  color: var(--grey);
}

.border-purple {
  border-color: var(--purple);
}

.highlight {
  background-color: #200d46 !important;
}

.gradient-border {
  border-radius: 80px;
  border: solid 2px transparent;
  background-origin: border-box !important;
  background-clip: content-box, border-box !important;
  background-image: linear-gradient(#14003c, #14003c), linear-gradient(90deg, #ff1464, #ff14620b);
  cursor: pointer;
}

.gradient-border:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
}

.underline {
  text-underline-offset: 1em;
}

.adopt-demo-container {
  position: relative;
}

.adopt-demo {
  background: #1f272a;
  border-radius: 0.4rem;
  box-shadow: 5px 10px 50px rgba(0, 0, 0, 25%);
  color: #fff;
  height: 450px;
  max-width: 832px;
  width: 90vw;
  z-index: 2;
}
