@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@layer utilities {
  .bg-temurin-hero {
    background-image: url('/images/backgrounds/temurin-hero-img.png');
  }
}

/* CSS Variables */
:root {
  --purple: #14003c;
  --pink: #ff1365;
  --blue: #0d002a;
  --grey: #c4bfce;
  --border-radius: 4px;
  --color-text: white;
  --color-primary: #7026b9;
  --color-code-bg: grey;
  --color-code: white;
}

/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Hanken Grotesk", "Inter", sans-serif !important;
  background-color: var(--purple);
  color: var(--color-text);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.bg-purple {
  background-color: var(--purple);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-blue {
  background-color: var(--blue);
}

.text-pink {
  color: var(--pink);
}

.text-primary {
  color: var(--pink);
}

.text-grey {
  color: var(--grey);
}

.border-purple {
  border-color: var(--purple);
}

.highlight {
  background-color: #200d46 !important;
}

.gradient-border {
  border-radius: 80px;
  border: solid 2px transparent;
  background-origin: border-box !important;
  background-clip: content-box, border-box !important;
  cursor: pointer;

  &:hover {
    transform: scale(110%);
    transition-duration: 300ms;
  }
}

.underline {
  text-underline-offset: 1em;
}

