
.scroll-container {
  position: relative;
}

.progress {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 0.2em;
  background: linear-gradient(to top, grey, grey);
  clip-path: polygon(50% 0%, 100% 10%, 50% 100%, 0% 10%);
}

.progress-fill {
  height: 100%;
  width: 100%;
  background: #FF1464;
  transform-origin: 50% 0; /* Set the origin for vertical scaling */
}

.progress-dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1em;
  height: 1em;
  background-color: #FF1464;
  border-radius: 50%;
}

.scroll-item {
  opacity: 0.5;
}

.scroll-item.active {
  opacity: 1;
}

.ui-virtual-common {
  transition: 0.5s ease-in-out;
  transform: scale(0.95);
}

.ui-virtual-common.active {
  opacity: 1 !important;
  transform: scale(1);
}

.active-progress-bar {
  background: #ff1464;
  height: 100%;
}
