name: Locale Checker

on:
  workflow_dispatch:
  push:
    paths: [content/asciidoc-pages/**]
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  issues: write

jobs:
  locale-checker:
    if: github.repository_owner == 'adoptium'
    name: Check Locales for Changes
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Check asciidoc docs
        run: python3 .github/workflows/locale-checker.py
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
