name: Update Vitest Snapshots

permissions:
  contents: write
  pull-requests: write

on:
  repository_dispatch:
    types: [update_snapshot]

jobs:
  update-snapshots:
    runs-on: ubuntu-latest
    steps:
      - name: Get PR details
        id: pr
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const { data: pullRequest } = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: ${{ github.event.client_payload.pull_request.number }}
            });
            return {
              ref: pullRequest.head.ref,
              repo: pullRequest.head.repo.full_name,
              number: pullRequest.number
            };

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ fromJson(steps.pr.outputs.result).ref }}
          repository: ${{ fromJson(steps.pr.outputs.result).repo }}
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Update Vitest Snapshots
        run: npm test -- -u

      - name: Commit and push changes
        run: |
          git config --global user.name "adoptium-bot"
          git config --global user.email "adoptium-bot@eclipse.org"
          if git diff-index --quiet HEAD; then
            echo "NO_CHANGES_DETECTED=1" >> "${GITHUB_ENV}"
          else
            git add "**/*.snap"
            git commit -m "Update Vitest Snapshots"
            git push origin HEAD
          fi

      - name: Add comment
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ fromJson(steps.pr.outputs.result).number }}
          body: |
            ${{ env.NO_CHANGES_DETECTED == '1' && 'No snapshot changes detected.' || 'Snapshots updated and changes pushed to the PR.' }}
